@font-face{
    font-family: NunitoSans;
    src: url("./fonts/NunitoSans-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: YesevaOne;
    src: url("./fonts/YesevaOne-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

body *{
    box-sizing: border-box;
}
body{
    min-width: 1300px;
    margin: 0px;
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4{
    font-family: YesevaOne;
    font-style: normal;
    font-weight: 400;
}

section { 
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #131313;
}

.container{
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 75px;

}

.nav_titles{
    display: flex;
    list-style-type: none;
    align-self: flex-end;
    font-family: YesevaOne;
    text-transform: uppercase;
}

.nav_title{
    color: #555555;
    margin-right: 60px;
    border-bottom: solid 1px #131313;
    padding-bottom: 6.7px;
    text-decoration: none;
    font-size: 14px;
}

.nav_title:hover{
    color: #C9A467;
    border-bottom: solid 1px #C9A467;
    cursor: pointer;
}

.active_nav_title {
    color: #C9A467;
    border-bottom: solid 1px #C9A467;
}

.title {
    color: #C9A467;
}

.main_title{
    font-size: 27px;
    margin: 0;
}

.title_div_with_line {
    display: flex;
}

.line {
    margin-left: 40px;
}

.text{
    color: white;
    line-height: 27px;
}

.block{
    display: flex;
    margin-top: 53px;
}

.main_part{
    width: 500px;
}

.block_cart{
    display: flex;
    flex-wrap: wrap;
    margin-top: 42px;
}

.min-width{
    min-width: 190px;
    height: 112px;
}

.lil_div_margin{
    margin-top: 34px;
}

.images{
    margin-left: 100px;
    width: 679px;
    height: 483px;
}

.image { 
    display: none;
}

.active_img {
    display: block;
}

.block_arrow{
    display: flex;
    margin-top: 30px;
}

.dots {
    display: flex;
}

.slider_dot{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 2px;
    margin-left: 17px;
}

.active_dot {
    background-color: white;
}

.slider_dot:hover{
    cursor: pointer;
    background-color: white;
}

.left_arrow{
    margin-right: 13px;
}

.right_arrow{
    margin-left: 30px;
}

.arrow:hover{
    cursor: pointer;
}